.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 500px;
  border: solid 2px darkcyan;
  margin-bottom: 3px;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* .task .titleDiv {
  text-align: left;
} */
.task .dueDate {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}

.task .checkboxDiv {
  display: flex;
  justify-content: flex-end;
}
.task .checkboxDiv p {
  margin-right: 20px;
}

.task .category {
  font-size: 14px;
  font-weight: 300;
  margin-right: 5px;
}

.task p {
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.task input {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}